<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">providersDashboard</ion-title>
    <app-logout-user slot="end"></app-logout-user>
    <app-change-language slot="start"></app-change-language>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-split-pane [when]="showMenu" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-menu [service]="functionsService"></app-menu>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main">
      <ion-header>

      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item-group>  <ion-item-divider>
            <ion-label style="width: 100%; text-align: center;"class="sectionLabel"> Patients </ion-label>
          
          </ion-item-divider >
          <ion-item>
        <app-grid-injectable-items [buttons]="buttons4Patients" [itemsList]="patientsList" [editPage]="editPage"
          [createPage]="createPage" (item2Delete)="deleteItem($event)" [titleFactory]="titleFactory4Patients"
          [itemViewerComponent]="patientViwerComponent" [headers]="headers4Patients"
          [hydeFab]="hydeFab" [service]="patients"[hydePagination]="hydePagination"    [hydeAddIcon]="hydeAddIcon"
          [showAddButtonInPagination]="showAddButtonInPagination"
          [paginationController] = "paginationController4patients"
          [emptyText]="emptyText4patients"></app-grid-injectable-items>
          </ion-item>
          </ion-item-group>

          <ion-item-group>  <ion-item-divider>
            <ion-label style="width: 100%; text-align: center;"class="sectionLabel"> Locations </ion-label>
          </ion-item-divider>
          <ion-item>
        <app-grid-injectable-items [buttons]="buttons4Locations" [itemsList]="locationsList"
          [headers]="headers4Locations" [editPage]="editPage" [createPage]="createPage"
          (item2Delete)="deleteItem($event)" [titleFactory]="titleFactory4Patients"
          [itemViewerComponent]="locationViewerComponent" [hydeFab]="hydeFab" [service]="locations"
          [hydePagination]="hydePagination"   [hydeAddIcon]="hydeAddIcon"[showAddButtonInPagination]="showAddButtonInPagination"
          [paginationController]="paginationController4locations"
          [emptyText]="emptyText">
        </app-grid-injectable-items>
          </ion-item>
          </ion-item-group>

          <ion-item-group>  <ion-item-divider>
            <h2 style="width: 100%; text-align: center;"class="sectionLabel"> Groups </h2>
          </ion-item-divider>
          <ion-item>
        <app-grid-injectable-items [buttons]="buttons4Groups" [itemsList]="groupsList" [editPage]="editPage"
          [createPage]="createPage" (item2Delete)="deleteItem($event)" [titleFactory]="titleFactory4Patients"
          [itemViewerComponent]="groupViewerComponent"[headers]="headers4Groups"
          [hydeFab]="hydeFab" [service]="groups" [hydePagination]="hydePagination"   [hydeAddIcon]="hydeAddIcon"
          [paginationController]="paginationController4groups"
          [showAddButtonInPagination]="showAddButtonInPagination"
          [emptyText]="emptyText4Groups"></app-grid-injectable-items>
          </ion-item>
          </ion-item-group>

          <ion-item-group>  <ion-item-divider>
            <h2 style="width: 100%; text-align: center;"class="sectionLabel"> orders </h2>
          </ion-item-divider>
          <ion-item>
        <app-grid-injectable-items [buttons]="buttons4Orders" [itemsList]="ordersList" [editPage]="editOrderPage"
          [createPage]="createPage" (item2Delete)="deleteItem($event)" [titleFactory]="titleFactory4orders"
          [itemViewerComponent]="orderViewerComponent"  [headers]="headers4orders"
          [hydeFab]="hydeFab" [service]="orders" [hydePagination]="hydePagination"[showAddButtonInPagination]="showAddButtonInPagination"
          [hydeAddIcon]="hydeAddIcon"
          [paginationController]="paginationController4orders"
          [emptyText]="emptyText4orders"></app-grid-injectable-items>
          </ion-item>
          </ion-item-group>
          </ion-list>

    
    
      </ion-content>
    </div>
  </ion-split-pane>

  <ion-button shape="round" (click)="toggleMenu()"><ion-icon name="menu"></ion-icon></ion-button>
</ion-content>